@charset "UTF-8";

.card-list{
	display:flex;
	flex-wrap: wrap;
	list-style:none; 
	margin-top:50px;
}
.card-list li{display:inline-block; width:32.3%;padding:0 12px, 18px}
.card-img-top{max-width:200px;}